body {
  margin: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightsalmon;
  min-height: 100vh;
}

.box {
  background-color: lightyellow;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
